[submodule "src/seasr"]
	path = src/seasr
	url = git@gitlab.tamu.edu:emop/seasr.git
[submodule "src/Juxta-cl"]
	path = src/Juxta-cl
	url = https://github.com/idhmc-tamu/Juxta-cl.git
[submodule "src/RETAS"]
	path = src/RETAS
	url = https://github.com/idhmc-tamu/RETAS.git
