emop.properties
!logs/
logs/*
!logs/.gitkeep
!logs/test/
logs/test/*
!logs/test/.gitkeep


*.pyc
config.ini
config*.ini
!config-idhmc-test.ini
payload/**/*.json
payload/**/**/*.json

*.jar
lib/juxta-cl/*.sh
lib/retas/config.txt

docs/_build/*

.coverage

tests/system/payload/output/
tests/system/output/
