# PageCorrector database settings here

# MySQL
ctx_db_driver: com.mysql.jdbc.Driver
ctx_db_url: jdbc:mysql://localhost/google_1grams
ctx_db_user: root
ctx_db_pass: pass

# SQLite
#ctx_db_driver: org.sqlite.JDBC
#ctx_db_url: jdbc:sqlite:test.db
